.paper {
  background-color: var(--color-paper);
}

.article {
  --article-spacer: var(--spacer);

  display: grid;
  grid-gap: var(--article-spacer);
  grid-template-columns: 1fr;
  padding: var(--article-spacer);
}

.article__cover {
  align-self: start;
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow);
  box-sizing: border-box;
  z-index: 11;

  img {
    display: block;
    width: 100%;
  }
}

.article__metadata {
  box-sizing: border-box;
  left: 0;
  padding: calc(var(--article-spacer) + 1px);
  z-index: 10;
}

.article__content {
  box-sizing: border-box;

  figure {
    margin: calc(var(--spacer) * 2) 0;
    padding: var(--spacer);
    box-shadow: var(--shadow);

    img {
      width: 100%;
    }
  }

  p, ul, li {
    line-height: 1.5em;
  }

  h1 {
    line-height: 1.5em;

    &::before {
      content: "░ ";
      color: var(--color-accent);
    }
  }

  h2 {
    padding-top: calc(var(--spacer) * 4);
    margin-top: calc(var(--spacer) * 4);
    background-color: var(--color-bg);
  }

  h3 {
    margin-top: calc(var(--spacer) * 2);
  }
}

@media screen and (min-width: 800px) {
  .article {
    --article-spacer: 2rem;

    grid-template-columns: repeat(auto-fit, calc(50% - var(--article-spacer)));
  }

  // if there is no cover, content is centered
  .article__content:first-child {
    justify-self: center;
  }

  .article__metadata {
    position: fixed;
    top: var(--titlebar-height);
  }

}

@media screen and (min-width: 1200px) {
  .article {
    --article-spacer: 4rem;
  }
}
