.paper {
  backdrop-filter: blur(8px);
  background-color: var(--color-paper);
  color: var(--color-fg);
}

.article {
  --article-spacer: var(--spacer);
  display: grid;
  grid-gap: var(--article-spacer);
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  padding: var(--article-spacer);
}

.article__cover {
  max-width: calc(100vw - (var(--article-spacer) * 2));

  img {
    display: block;
    width: 100%;
  }
}

.article__content {
  box-sizing: border-box;
  max-width: min(600px, calc(100vw - (var(--article-spacer) * 2)));
}

@media screen and (min-width: 600px) {
  .article {
    --article-spacer: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .article {
    --article-spacer: 4rem;
  }
}
