$layout-titlebar-height: $spacer * 3;
$layout-titlebar-border-size: 1px;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  --layout-titlebar-height: #{$layout-titlebar-height};
}

.layout__titlebar {
  align-items: center;
  display: flex;
  height: var(--layout-titlebar-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: $layout-titlebar-border-size solid var(--fg);

  & > * {
    margin: $spacer;
  }

  nav {
    margin-left: auto;
  }

  nav a {
    margin: 0 $spacer * 0.5;
    text-decoration: none;
    color: var(--accent);
  }

  .brand {
    font-weight: bolder;
  }

  nav a,
  .brand a {
    text-decoration: none;
    color: var(--accent);
  }
}

.layout__main {
  flex-grow: 1;
  padding-top: calc(
    var(--layout-titlebar-height) + $layout-titlebar-border-size
  );
}

.layout__footer {
  align-items: center;
  display: flex;
  padding: $spacer;
}
