:root {
  --titlebar-height: #{$spacer * 2.5};
}

.titlebar {
  align-items: center;
  display: flex;
  height: var(--titlebar-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 0.8rem;
  background-color: var(--color-bg);
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-border);

  & > * {
    margin: $spacer;
  }

  nav {
    margin-left: auto;
  }

  nav a {
    margin: 0 $spacer * 0.5;
    text-decoration: none;
    color: var(--color-accent);
  }

  .brand {
    font-weight: bolder;
  }

  nav a,
  .brand a {
    text-decoration: none;
    color: var(--color-accent);
  }
}
