:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-dark: #111917;
    --color-light: rgba(255, 255, 255, 0.87);
    --color-neon-blue-green: #00f5e6;
    --color-skobeloff: hsl(176, 100%, 24%);

    --bg-color: var(--color-dark);
    --text-color: var(--color-light);
    --accent-color: var(--color-neon-blue-green);
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: var(--color-light);
        --text-color: var(--color-dark);
        --accent-color: var(--color-skobeloff);
    }
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    margin: 0 1em;
    max-width: 800px;
}

a {
    color: var(--accent-color);
}
