@import 'article';
@import 'colors';
@import 'titlebar';
@import 'utils';

:root {
  --spacer: 1rem;
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Fira Code', Menlo, 'Courier New', Courier, monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;

  &:visited {
    color: var(--color-accent);
  }

  &:hover,
  &:focus {
    color: var(--color-accent-highlight);
  }
}

