$spacer: 1rem;

@import 'article';
@import 'colors';
@import 'titlebar';
@import 'utils';

:root {
  --color-fg: var(--color-light);
  --color-bg: var(--color-dark);
  --color-border: var(--color-light-alpha-50);
  --color-accent: var(--color-green);
  --color-accent-highlight: var(--color-green-darker-10);
  --color-accent-alpha-50: var(--color-green-alpha-50);
  --color-paper: var(--color-darker);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-fg: var(--color-dark);
    --color-bg: var(--color-light);
    --color-border: var(--color-lighter);
    --color-accent: var(--color-green-darker-50);
    --color-accent-highlight: var(--color-green-darker-10);
    --color-accent-alpha-50: var(--color-green-alpha-50);
    --color-paper: var(--color-lighter);
  }
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Fira Code', Menlo, 'Courier New', Courier, monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;

  &:visited {
    color: var(--color-accent);
  }

  &:hover,
  &:focus {
    color: var(--color-accent-highlight);
  }
}

