<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">

<head itemscope itemtype="https://schema.org/WebPage">
  <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="theme-color" content="#00ff80">

{{ partial "opengraph.html" . }}
{{ partial "schema.html" . }}
{{ partial "twitter_cards.html" . }}

{{- if .IsHome -}}
  {{- $gamejs := resources.Get "game.ts" | js.Build }}
  <script type="module" src="{{ $gamejs.RelPermalink }}" defer></script>
{{- end -}}
{{- if .Params.script -}}
  {{- $extrajs := resources.Get .Params.script | js.Build }}
  <script type="module" src="{{ $extrajs.RelPermalink }}" defer></script>
{{- end -}}
{{- $js := resources.Get "main.ts" | js.Build }}
  <script type="module" src="{{ $js.RelPermalink }}" defer></script>

  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/normalize.css">
  {{- $options := (dict "includePaths" (slice "node_modules")) -}}
  {{- $sass := resources.Get "/styles/main.scss" -}}
  {{- $style := $sass | resources.ToCSS $options | resources.Minify -}}
  {{- with $style }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{- end }}
</head>

<body>
  <schaerweb-titlebar class="print:hidden">
    <nav slot="nav">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" title="{{ .Title }}" target="{{ .Params.target }}">{{ .Name }}</a>
      {{ end }}
    </nav>
  </schaerweb-titlebar>
  <div id="app">
    {{- block "main" . }}{{- end }}
  </div>
  {{ template "_internal/google_analytics.html" . }}
</body>

</html>
