<!DOCTYPE html>
<html lang="en">

<head>
  <title>Martin Schaer Web</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  {{ if .IsHome }}
  <script type="module" src="/src/game.js" defer></script>
  {{ else }}
  <script type="module" src="/src/main.ts" defer></script>
  {{ end }}{{ if .Params.script }}
  <script type="module" src="/src/{{ .Params.script }}" dever></script>
  {{ end }}
</head>

<body>
  <div class="titlebar">
    <div class="brand">
      <a href="/">Martin Schaer Web</a>
    </div>
    <nav>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
      <a href="https://twitch.tv/martinschaer">Twitch</a>
      <a href="https://www.youtube.com/user/martinco06">YouTube</a>
    </nav>
  </div>
  <div id="app">
    {{- block "main" . }}{{- end }}
    <footer class="px-3 py-2">Martin Schaer 2022</footer>
  </div>
  {{ template "_internal/google_analytics.html" . }}
</body>

</html>
