{{ define "main" }}
<div class="paper" style="padding-top: var(--titlebar-height);">
  <div class="article">
    <div class="article__content">
      <header>
        <h1>{{ humanize .Section }}</h1>
      </header>
      <ul class="article-list">
        {{ range .Pages }}
        <li class="article-list__item">
          <h2><a href="{{.RelPermalink}}">{{ .Title }}</a></h2>
          <p><a href="{{.RelPermalink}}">{{ .Summary }}</a></p>
          {{ partial "metadata.html" .}}
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
