{{ define "main" }}
<div class="paper" style="padding-top: var(--titlebar-height)">
  <div class="article article--wide">
    <div class="article__content">
      <header>
        <h1>{{ humanize .Section }}</h1>
      </header>
      {{- if .Content -}}
      <div>{{ .Content }}</div>
      {{ end }}
      <ul class="article-list">
        {{ range .Pages }} {{ $page := .}}
        <li class="article-list__item">
          <h2 class="mb-0"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <p class="mx-3"><a href="{{ .RelPermalink }}">{{ .Summary }}</a></p>
          {{ if .Params.images }} {{ range first 1 .Params.images }} {{ $image
          := $page.Resources.GetMatch . }} {{ if $image }}
          <div>
            <a href="{{ $page.RelPermalink }}"
              ><img src="{{ $image.Permalink }}" alt="{{ $page.Title }}"
            /></a>
          </div>
          {{ else }} No image {{ . }} {{ end }} {{ end }} {{ end }} {{ partial
          "metadata.html" .}}
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
