{{ define "main" }}
<div class="paper" style="padding-top: var(--titlebar-height);">
  <article class="article{{ if eq .Params.layout "wide" }} article--wide{{ end }}">
    {{ with .Parent }}
    <p class="mt-3 mb-0 small text-muted">Back to <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
    {{ end }}
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    {{ if .Params.cover }}
    <div class="article__cover">
      <img src="{{ .Params.cover }}" alt="{{ .Title }}" />
    </div>
    {{ end }}
    <div class="article__metadata">
      <strong>Table of contents:</strong>
      {{ .TableOfContents }}
      <div class="text-muted mt-5">
        <strong>Metadata:</strong>
        {{ partial "metadata.html" .}}
      </div>
    </div>
    <main class="article__content">
      {{ .Content }}
    </main>
  </article>
</div>
{{ end }}
