{{ define "main" }}
{{ $page := . }}
<div class="paper">
  <article class="article{{ if eq .Params.layout "wide" }} article--wide{{ end }}">
    <div class="flex">
      {{ with .Parent }}
      <p class="my-0 small text-muted print:hidden">Back to <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
      {{ end }}
      <div class="ml-auto">
        {{ partial "metadata.html" .}}
      </div>
    </div>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    {{ if .Params.images }}
      {{ range first 1 .Params.images }}
        {{ $image := $page.Resources.GetMatch .}}
        {{ if $image }}
          <div class="article__cover">
            <img src="{{ $image.Permalink }}" alt="{{ $page.Title }}" />
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    <main class="article__content">
      {{ .Content }}
    </main>
  </article>
</div>
{{ end }}
