{{ define "main" }}
{{ $page := . }}
<div class="paper" style="padding-top: var(--titlebar-height);">
  <article class="article{{ if eq .Params.layout "wide" }} article--wide{{ end }}">
    {{ with .Parent }}
    <p class="mt-3 mb-0 small text-muted">Back to <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
    {{ end }}
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    {{ if .Params.images }}
      {{ range first 1 .Params.images }}
        {{ $image := $page.Resources.GetMatch .}}
        {{ if $image }}
          <div class="article__cover">
            <img src="{{ $image.Permalink }}" alt="{{ $page.Title }}" />
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    <div class="article__metadata">
      {{ partial "metadata.html" .}}
    </div>
    <main class="article__content">
      {{ .Content }}
    </main>
  </article>
</div>
{{ end }}
