.article-list {
  list-style: none;
  margin: var(--spacer) 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32ch, 1fr));
  grid-gap: var(--spacer-2);
}

.article-list__item {
  border: 1px solid var(--color-border);
  margin: 0 0 var(--spacer-2);

  h2 {
    margin-top: 0;
    padding: var(--spacer-2) var(--spacer) var(--spacer);
  }
}
