$color-prefix: --color-;
$colors: (
  dark: hsl(150deg, 10%, 12%),
  darker: hsl(150deg, 10%, 6%),
  light: hsl(150deg, 10%, 98%),
  lighter: hsl(150deg, 10%, 100%),
  yellow: hsl(30deg, 100%, 50%),
  green: #00ff80,
);

:root {
  @each $name, $color in $colors {
    #{$color-prefix}#{"" + $name}: $color;
    #{$color-prefix}#{"" + $name}-alpha-05: #{adjust-color($color, $alpha: -0.95)};
    #{$color-prefix}#{"" + $name}-alpha-10: #{adjust-color($color, $alpha: -0.9)};
    #{$color-prefix}#{"" + $name}-alpha-20: #{adjust-color($color, $alpha: -0.8)};
    #{$color-prefix}#{"" + $name}-alpha-50: #{adjust-color($color, $alpha: -0.5)};
    #{$color-prefix}#{"" + $name}-alpha-90: #{adjust-color($color, $alpha: -0.1)};
    #{$color-prefix}#{"" + $name}-alpha-95: #{adjust-color($color, $alpha: -0.05)};
    #{$color-prefix}#{"" + $name}-darker-10: #{adjust-color($color, $lightness: -10%)};
    #{$color-prefix}#{"" + $name}-darker-50: #{adjust-color($color, $lightness: -20%)};
    #{$color-prefix}#{"" + $name}-lighter-10: #{adjust-color($color, $lightness: 10%)};
    .bg-#{'' + $name} {
      background-color: var(#{$color-prefix}#{'' + $name});
    }
  }

  --color-fg: var(--color-light);
  --color-bg: var(--color-darker);
  --color-border: var(--color-light-alpha-10);
  --color-accent: var(--color-green);
  --color-accent-highlight: var(--color-green-darker-10);
  --color-accent-alpha-50: var(--color-green-alpha-50);
  --color-paper: var(--color-dark);
  --color-shadow: var(--color-darker-alpha-50);
  --color-muted: var(--color-light-alpha-20);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-fg: var(--color-dark);
    --color-bg: var(--color-light);
    --color-border: var(--color-dark-alpha-10);
    --color-accent: var(--color-green-darker-10);
    --color-accent-highlight: var(--color-green);
    --color-accent-alpha-50: var(--color-green-alpha-50);
    --color-paper: var(--color-lighter);
    --color-shadow: var(--color-darker-alpha-05);
    --color-muted: var(--color-dark-alpha-20);
  }
}

