:root {
  --titlebar-height: calc(var(--spacer) * 2.5);
}

schaerweb-titlebar {
  nav {
    margin-left: auto;

    a {
      color: var(--color-accent);
      margin: 0 var(--spacer-50);
      padding: 0;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 800px) {
  schaerweb-titlebar nav {
    margin: 0;
    padding: calc(var(--spacer) + var(--titlebar-height)) 0 var(--spacer);
  }

  schaerweb-titlebar nav a {
    display: block;
    margin: 0;
    padding: var(--spacer);
    text-align: center;
    font-size: 1.2rem;
  }
}
