// @import 'node_modules/normalize.css/normalize.css';
@import 'article';
@import 'article-list';
@import 'colors';
@import 'titlebar';
@import 'utils';

:root {
  --spacer: 1rem;
  --spacer-2: 2rem;
  --spacer-50: 0.5rem;
  --shadow: 0 0 var(--spacer) var(--spacer) var(--color-shadow);
}
@media (prefers-color-scheme: light) {
  :root {
    --shadow: 0 0 var(--spacer-50) var(--spacer-50) var(--color-shadow);
  }
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: 'CaskaydiaCove Nerd Font', 'Fira Code', Menlo, 'Courier New', Courier, monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;

  &:visited {
    color: var(--color-accent);
  }

  // &:hover,
  // &:focus {
  //   color: var(--color-accent-highlight);
  // }
}

.text-muted {
  color: var(--color-muted);
}

.small {
  font-size: 0.85em;
}

.hide {
  display: none;
}

.grid {
  display: grid;
  grid-gap: var(--spacer);
  grid-template: 1fr / repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  background-color: var(--color-paper);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow);
  padding: var(--spacer);
}
